<!DOCTYPE html>
<html lang="et">
<head>
	<meta charset="utf-8">
	<title>Ann-Mari Servet, veebiprogrammeerimine</title>
	
</head>
<body>
	<img src="images/vp_banner_2025_AA.jpg" alt="Kursuse bänner">
	<h1>Ann-Mari Servet, veebiprogrammeerimine</h1>
	<p>See leht on loodud <a href="https://www.tlu.ee/">Tallinna Ülikoolis</a> veebiprogrammeerimise kursusel ja ei oma mõistlikku sisu.</p>
	<hr>
	<ul>
		<li><a href="/">Avalehele</a></li>
	</ul>
	<h2>Eesti film</h2>
	<ul>
		<li><a href="/eestifilm/filmiinimesed">Eesti filmiga seotud inimesed</a></li>
		<li><a href="/eestifilm/filmiinimesed_add">Eesti filmiga seotud inimeste lisamine</a></li>
		<li><a href="/eestifilm/ametid">Eesti filmiga seotud ametid</a></li>
		<li><a href="/eestifilm/filmid">Eesti filmid</a></li>
	</ul>
</body>
</html>