<!DOCTYPE html>
<html lang="et">
<head>
	<meta charset="utf-8">
	<title>Ann-Mari Servet, veebiprogrammeerimine</title>
	
</head>
<body>
	<img src="/images/vp_banner_2025_AA.jpg" alt="Kursuse bänner">
	<p>Sisse on loginud <%= userName %></p>
	<h1>Veebiprogrammeerimine</h1>
	<p>See leht on loodud <a href="https://www.tlu.ee/">Tallinna Ülikoolis</a> veebiprogrammeerimise kursusel ja ei oma mõistlikku sisu.</p>
	<hr>
	<h2>Vinge veebiklubi</h2>
	<ul>
		<li><a href="/logout">Logi välja</a></li>
		<li><a href="/galleryphotoupload">Galeriipiltide üleslaadimine</a></li>
		<li><a href="/photogallery">Fotogalerii</a></li>
	</ul>
</body>
</html>