<!DOCTYPE html>
<html lang="et">
<head>
	<meta charset="utf-8">
	<title>Ann-Mari Servet, veebiprogrammeerimine</title>
	
</head>
<body>
	<img src="images/vp_banner_2025_AA.jpg" alt="Kursuse bänner">
	<h1>Ann-Mari Servet, veebiprogrammeerimine</h1>
	<p>See leht on loodud <a href="https://www.tlu.ee/">Tallinna Ülikoolis</a> veebiprogrammeerimise kursusel ja ei oma mõistlikku sisu.</p>
	<hr>
	<h2>Siin lehel leiad</h2>
	<ul>
		<li><a href="/signup">Kasutajakonto loomine</a></li>
		<li><a href="/signin">Kasutajakontosse sisse logimine</a></li>
		<li><a href="/timenow">Ajainfo</a></li>
		<li><a href="/vanasonad">Valik Eesti tuntud vanasõnu</a></li>
		<li><a href="/regvisit">Registreeri oma külastus</a></li>
		<li><a href="/eestifilm">Eesti film</a></li>
		<li><a href="/galleryphotoupload">Galeriipiltide üleslaadimine</a></li>
		<li><a href="/photogallery">Fotogalerii</a></li>
		<li><a href="/newsupload">Uudiste üleslaadimine</a></li>
		<li><a href="/news">Uudised</a></li>
	</ul>
	
	<% if(latestPhoto) { %>
		<label>Viimane lisatud pilt</label>
		<br>
		<img src="/gallery/normal/<%= latestPhoto.filename %>" alt="<%= latestPhoto.alttext %>" style="max-width: 400px;">
		<!-- <p><%= latestPhoto.alttext %></p> -->
	<% } %>
</body>
</html>